.table-item{
    display: flex;
    margin: 10px 0px;
}



.TableSteteButton {
    margin: 3px 3px;
    padding: 3px 3px;
    border-radius: 15px;
    border: transparent 2px solid;
    background-color: transparent;
    font-size: 14px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.TableSteteButton:hover {
    border: lightsalmon 2px solid;
    background-color: lightsalmon;
}

.table-timeslot{
    display: none;
    border: none;
    border-radius: 15px;
    width: auto;
    padding: 10px 10px;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
    margin: 0px 0px;
    text-align: center;
}
.table-timeslot.show {
    display: block;
}

.table-timeslot-tilte{
    text-decoration: underline;
}

.table-timeslot-close{
    padding: 2px 2px;
    border:  none;
}

.table-timeslot-close:hover {
    background-color:darkgray;
    border: none;
    color: white;
    border-radius: 15px;
    transition: 0.1s;
}

.table-timeslot-close-container{
    display: flex;
    border: none;
    justify-content: right;
}

.timeslot{
    padding: 2px 2px;
}

.timeslot:hover {
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    color: white;
    border: 2px solid #04AA6D;
    transition: 0.1s;
}




.table-item {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 22em;
  max-width: 80%;
  padding: 2em 0;
  background: #FFF;
  box-shadow: 0 0 6px 0 rgba(32, 32, 36, 0.12);
  transition: all 0.35s ease;
  border-radius: 15px;
}

.card::before, .card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: orange;
  height: 4px;
}

.card::before {
  width: 0;
  opacity: 0;
  transition: opacity 0 ease, width 0 ease;
  transition-delay: 0.5s;
}

.card::after {
  width: 100%;
  background: white;
  transition: width 0.5s ease;
}

.card .content {
  width: 18em;
  max-width: 80%;
}

.card .logo {
  margin: 0 0 1em;
  width: 10.625em;
  transition: all 0.35s ease;
}

.card .h6 {
  color: #999;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 2px;
}

.card .hover_content {
  overflow: hidden;
  max-height: 0;
  transform: translateY(1em);
  transition: all 0.55s ease;
}

.card .hover_content p {
  margin: 1.5em 0 0;
  color: #6E6E70;
  line-height: 1.4em;
}

.card:hover {
  width: 22em;
  box-shadow: 0 10px 20px 0 rgba(32, 32, 36, 0.12);
}

.card:hover::before {
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease, width 0.5s ease;
  transition-delay: 0;
}

.card:hover::after {
  width: 0;
  opacity: 0;
  transition: width 0 ease;
}

.card:hover .logo {
  margin-bottom: 0.5em;
}

.card:hover .hover_content {
  max-height: 10em;
  transform: none;
}