.Account-list{
    width: 70%;
}

.Account-Button {
    background-color: transparent;
    border: none;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 20px;
    margin: 2px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.Account-Button:hover {
    background-color: lightsalmon;
    border: lightsalmon 2px solid;
    
}

.account-pencil{
    max-width: 20px;
    max-height: 20px;
    margin-left: 1px;
}

.Account-table{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 5px 5px;
    margin: 5px 5px;
}

.Account-container{
    display: grid;
    margin: 10px 10px;
    border: none 2px solid;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
    height: min-content;
    grid-template-rows: min-content;
    width: 300px;
}

.Account-container:hover{
    border: lightsalmon 2px solid;

}

.Account-container-info{
    border:none solid 1px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
    background-color: none;
    padding: 5px 5px;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
}
.Account-container-info:hover{
    
}

.Account-container-Button{
    border-radius: 15px;
    border: none solid 1px;
    
}

.Account-container-info-item{
    margin: 5px 0px;
}

.Account-list-nav{
    display: flex;
    justify-content: space-between;
}

.Account-list-right{
    
}

.Account-list-button{
    border-radius: 15px;
    padding: 2px 5px;
    background-color: white;
    margin: 3px;
}

.Account-list-button:hover{
    background-color: gray;
    color: white;
}