.table-container {
    background-color:rgb(250, 176, 106);
    border-radius: 15px;
    
}

.reserveButton {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
}